html, body {
  font-family: 'Lato', sans-serif;
}

.landing {
  height: 100vh;
  position: relative;
}

.fa-times-circle {
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.imageContain {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(./resources/14.jpg);
  background-position: top;
  background-size: cover;
  z-index: 1;
}

.aboutProject {
  cursor: pointer;
  z-index: 3;
  color: white;
  font-weight: 300;
  font-size: 16px;
}

.landingOverlay {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(66, 66, 66, 0.9), rgba(103, 75, 105, 0.9), rgba(164, 72, 117, 0.8), rgba(222, 65, 93, 0.75), rgba(255, 87, 34, 1));
}

.aboutProjectOverlay {
  z-index: 6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(66, 66, 66, 1), rgba(103, 75, 105, 1), rgba(164, 72, 117, 1), rgba(222, 65, 93, 1), rgba(255, 87, 34, 1));
  display: none;
}

.topNav {
  height: 100px;
  padding-top: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  z-index: 5;
  position: relative;
  width: 22px;
}

.onTopLanding {
  position: relative;
  z-index: 5;
}

.titleContainer, .titleContainerMenu {
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 25px;
}

.titleContainerMenu {
  justify-content: center;
  position: relative;
}

.socialExploreOverlay {
  position: absolute;
  bottom: 25px;
}

.landTitle {
  font-size: 30px;
  font-weight: 300;
  color: white;
}

.boldTitle {
  font-weight: 400;
}

.headsub {
  color: #FFEE58;
  font-size: 15px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
}

.pcsw {
  height: 100%;
  display: flex;
  position: relative;
  z-index: 5;
  align-items: center;
  color: white;
}

.pcswlogo {
  width: 65px;
  height: 60px;
  margin-right: 12px;
}

.pcswName {
  margin-bottom: 0px;
  font-size: 14px;
}

.socialExplore {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.socIcons {
  font-size: 18px;
  color: #fff;
}

.socIcon {
  cursor: pointer;
}

.socIcon:hover {
  color: yellow;
}

.exploreIndicatorsSpan {
  font-size: 17px;
}

.landingArrow {
  font-size: 17px;
  margin-left: 5px;
  color: #FFEE58;
}

.landingRow, .landingContainer {
  position: relative;
  height: 100%;
}

.socMidIcon {
  margin-left: 10px;
  margin-right: 10px;
}

.scatterContainer {
  background: #212121;
  padding-top: 50px;
  padding-bottom: 25px;
}

.sectionHeading, .subSectionHeading, .subSectionHeadingSmaller {
  color: white;
  font-size: 32px;
  font-weight: 300;
}

.subSectionHeading {
  font-size: 24px;
}

.subSectionHeadingSmaller {
  font-size: 20px;
}

.input {
  margin-bottom: 8px;
}

#selectedIndicators {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #FF8A65;
}

.selectedIndicatorList {
  margin-bottom: 5px;
}

.sectiondescription, .sectiondescriptionList {
  font-size: 14px;
  color: white;
  padding-bottom: 25px;
}

.sectiondescriptionList {
  font-size: 16px;
  padding-bottom: 2px;
}

.divisionSelected {
  color: white;
  font-size: 18px;
  margin-bottom: 5px;
}

.panelContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 25px;
}

.axis text{
  fill: white;
  font-size: 11px;
}

.axis line{
  stroke: white;
  stroke-width: .75
}

.axis path{
  stroke: white;
  stroke-width: .25
}

.axis text{
  font-size: 13px
}

.legendGroup text {
  fill: white;
}

.legendOrdinal g.legendCells text {
  fill: white;
  font-size: 10px;
}
.Division.legendTitle {
  font-size: 12px;
  fill: white;
  font-weight: bold;
}

svg circle { mix-blend-mode: screen; }

.g-map {
  transform : translate(50px, 50px);
  fill : #313131;
  stroke: #FF8A65;
  stroke-width: 1.2px
}

.g-circles {
  transform : translate(50px, 50px);
  stroke: #fff;
  stroke-width: 1px;
}

.g-outline {
  transform : translate(50px, 50px);
  stroke: #FF8A65;
  fill: none;
  stroke-width: 1.2px;
}

.c-tooltip {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 220px;
  background-color: rgba(238, 238, 238, 0.6);
  padding: 10px;
  border-radius: 8px;
  font-size: 17px;
}

.c-tooltip-header {
  background-image: linear-gradient(to right bottom, rgba(66, 66, 66, 0.3), rgba(103, 75, 105, 0.5), rgba(164, 72, 117, 0.4), rgba(222, 65, 93, 0.4), rgba(255, 87, 34, 0.5));
  color: white;
  margin: -10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px 10px;
  margin-bottom: 10px;
}

.c-tooltip-header h1 {
  font-size: 18px;
    font-weight: 500;
}

.c-tooltip-body div {
  margin: 5px 5px;
}

.c-tooltip-body {
  font-size: 14px;
}

@media only screen and (max-width: 845px) {
  .landTitle {
    font-size: 22px;
  }
  .headsub {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .landingArrow {
    font-size: 15px;
  }
  .socialExplore {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .pcswName {
    font-size: 12px;
  }
  .pcswlogo {
    width: 55px;
    height: 50px;
  }
}

@media only screen and (max-width: 1300px) {
  .landTitle {
    font-size: 26px;
  }
}

@media only screen and (max-width: 1090px) {
  .landTitle {
    font-size: 24px;
  }
}

@media only screen and (max-width: 445px) {
  .landTitle {
    font-size: 20px;
  }
  .headsub {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .landingArrow {
    font-size: 13px;
  }
  .socIcons {
    font-size: 14px;
  }
}
